# Build and other transient directories
build/
debug/
external_libs/
downloads/
xml_results/

# Do not track build objects.
build*/*
!build*/.gitignore
lib/
esl

# Do not track emacs temporary and backup files
\#*#
*~

# Do not track Nano temporary files
.#*#

# Do not track Vi(m) temporary files
.*.swp

# Local files @krc
TODO

# Local files @sparre
test_and_push_to_master
